<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Born</h4>
                                    <h4 class="subheading">My humble beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born and raised in Vietnam, an awesome country that taught me to appreciate what I have, work hard for what I want, and give back to the community when I can.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2016</h4>
                                    <h4 class="subheading">The dream school</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">UC Berkeley was my dream school and it was some of the best years of my life. It wasn't an easy journey but Berkeley molded me into who I am today. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2016</h4>
                                    <h4 class="subheading">A software engineer was born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I got my first job as a software developer intern at a cool startup. I learned awesome technology, worked on cool projects, and met some of the smartest people I've ever known.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">Looking for a new adventure!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm currently looking for a software developer position. I can't wait to build something incredible! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
