<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Intro</h2>
                    <h3 class="section-subheading text-muted">A little bit about myself</h3>
                    <div class="me-boo">
                            <span class="fa-stack fa-4x">
                                <img class="fa fa-circle fa-stack-2x text-primary" src="img/about/me.png"></img>
                            </span>
                            <span class="fa-stack fa-4x">
                                <img class="fa fa-circle fa-stack-2x text-primary" src="img/about/boo.png"></img>
                            </span>

                    </div>
                    <p class="self-intro">I'm a software engineer based in San Francisco. I graduated from UC Berkeley with applied math major(Go Bears!). Other than that, I'm a cat mom and a traveler. When I'm not too busy working on my revolutionary projects, I'm usually hiking, cooking, or playing with my cat. I also love traveling the world! Experiencing different cultures and discovering new food is my favorite thing to do. So, yea, that's me. Oh, wait, did I mention I love cats? Meow ❤️... </p>
                    <h3 class="section-subheading text-muted">Things that I'm good at</h3>
                </div>
            </div>

            <div class="row text-center">
                <img src="img/chart.png" alt="chart">
            </div>
        </div>
    </section>
